<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Client_Dau_Gia.Properties.Settings.AuctionDBConnectionString"
            connectionString="Data Source=PHONG-IT;Initial Catalog=AuctionDB;Persist Security Info=True;User ID=sa;Password=10102000;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>